.button {
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin: 30px auto;
  display: block;
  cursor: pointer;
}

.button:hover {
  background: white;
  color: black;
}
